name: Publish website

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'data/**'
      - 'docs/**'
      - 'notebooks/**'
      - 'mkdocs.yml'
      - '.github/workflows/publish.yml' # This workflow
  workflow_dispatch:

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            fonts.google.com:443
            fonts.gstatic.com:443
            github.com:443
            objects.githubusercontent.com:443
            pypi.org:443
            release-assets.githubusercontent.com:443

      - name: 'Checkout'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: 'Setup Pages'
        if: ${{ github.event_name != 'pull_request' }}
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: 'Setup uv'
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          python-version: 3.12
          enable-cache: false

      - name: 'Build website'
        run: |
          uvx --with 'mkdocs-macros-plugin' --with 'mkdocs-material[imaging]' -- mkdocs build --strict

      - name: 'Upload artifact'
        if: ${{ github.event_name != 'pull_request' }}
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: 'site/' # mkdocs default site_dir

  publish:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: |
            api.github.com:443

      - name: 'Deploy to GitHub Pages'
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
