name: Spellcheck

on:
  pull_request:
    branches:
      - main
    paths:
      - '**.md'
      - '.spellcheck*'
      - '.github/workflows/spellcheck.yaml' # This workflow file

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            azure.archive.ubuntu.com:80
            esm.ubuntu.com:443
            files.pythonhosted.org:443
            github.com:443
            objects.githubusercontent.com:443
            packages.microsoft.com:443
            pypi.org:443
            release-assets.githubusercontent.com:443

      - name: 'Checkout'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: 'Setup uv'
        uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1
        with:
          python-version: 3.12
          enable-cache: false

      - name: 'Install aspell'
        run: |
          sudo apt-get update
          sudo apt-get install -y aspell aspell-en

      - name: 'Check spelling'
        run: |
          uvx -- pyspelling --config .spellcheck.yml --spellchecker aspell
