name: Spellcheck

on:
  pull_request:
    branches:
      - main
    paths:
      - '**.md'
      - '.spellcheck*'
      - '.github/workflows/spellcheck.yaml' # This workflow file

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            azure.archive.ubuntu.com:80
            esm.ubuntu.com:443
            files.pythonhosted.org:443
            github.com:443
            objects.githubusercontent.com:443
            packages.microsoft.com:443
            pypi.org:443
            release-assets.githubusercontent.com:443

      - name: 'Checkout'
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: 'Setup uv'
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          python-version: 3.12
          enable-cache: false

      - name: 'Install aspell'
        run: |
          sudo apt-get update
          sudo apt-get install -y aspell aspell-en

      - name: 'Check spelling'
        run: |
          uvx -- pyspelling --config .spellcheck.yml --spellchecker aspell
